<h1>Budapest daily menu</h1>
{% for restaurant in restaurants %}
    {% if restaurant.table_name == 'kajahu' %}
        <a href="{{ restaurant.map_url }}">
            <h3>{{ restaurant.name }}</h3>
        </a>
    {% elseif restaurant.table_name == 'bonnie' %}
        <a href="{{ restaurant.map_url }}">
            <h3>{{ restaurant.name }}</h3>
        </a>
    {% elseif restaurant.table_name == 'muzikum' %}
        <a href="{{ restaurant.map_url }}">
            <h3>{{ restaurant.name }}</h3>
        </a>
    {% elseif restaurant.table_name == 'vendiak' %}
        <a href="{{ restaurant.map_url }}">
            <h3>{{ restaurant.name }}</h3>
        </a>
    {% endif %}
{% endfor %}