<h1>Budapest daily menu</h1>
<h2>{{ date }}</h2>
<!--{% for restaurant in restaurants %}
    {% if restaurant.table_name == 'kajahu' %}
        <a href="{{ restaurant.map_url }}">
            <h3>{{ restaurant.name }}</h3>
        </a>
        {% if kajahuMenu %}
            <p>
                Price: {{ kajahuMenu.price }}<br>
                Soup: {{ kajahuMenu.soup }}<br>
                Dish: {{ kajahuMenu.dish }}<br>
                Dessert: {{ kajahuMenu.dessert }}
            </p>
        {% else %}
            <p>No menu found for {{ restaurant.name }}</p>
        {% endif %}
    {% endif %}
{% endfor %}-->