<h1>Budapest daily menu</h1>
{% for date, menus in menus_of_interval %}
    <h2>{{ date }}</h2>
    {% for menu in menus %}
        <a href="{{ restaurants[menu.restaurant].map_url }}">
            <h3>{{ restaurants[menu.restaurant].name }}</h3>
        </a>
        <p>
            <strong>{{ menu.price }} Ft</strong><br>
            {% for menu_item in menu.menu %}
                {{ menu_item }}<br>
            {% endfor %}
        </p>
    {% endfor %}
{% endfor %}